<div class="history-body">
  <table>
    <tr>
      <th>Tên sản phẩm</th>
      <th>Bên bán</th>
      <th>Bên mua</th>
      <th>Thời gian</th>
    </tr>
    <tr *ngFor="let transaction of totalTransactions | async">
      <td>{{transaction.productName}} <img height="50px" width="50px" src="{{transaction.image}}" alt=""></td>
      <td>{{transaction.oldOwnerName}}</td>
      <td>{{transaction.newOwnerName}}</td>
      <td>{{transaction.timestamp}}</td>
    </tr>
  </table>
</div>

<!-- <button (click)="downloadPDF()">Tải về</button> -->