<section>
	<nav class="navbar navbar-fixed-top navbar-no-bg" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Bootstrap Navbar Menu Template</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="top-navbar-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a routerLink="/home">Trang chủ</a></li>
					<li><a routerLink="/history">Lịch sử giao dịch</a></li>
					<li><a routerLink="/account">Danh sách tài khoản</a></li>
					<li><a routerLink="/home">Cài đặt</a></li>
				</ul>
			</div>
		</div>
	</nav>
  <router-outlet></router-outlet>
</section>