<section *ngIf="!authenticated">
  <h1>
    Đăng nhập qua tài khoản github!
  </h1>
  <a href="http://localhost:3000/auth/github">Đăng nhập</a>
</section>

<section *ngIf="authenticated && !loggedIn">
  <h2>Sign up</h2>
  <form (ngSubmit)="onSignUp()" #signupForm="ngForm">
    <table>
      <colgroup>
        <col span="1" style="width: 11%;">
        <col span="1" style="width: 89%;">
      </colgroup>
      <tr>
        <td>
          <label>ID</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.email" #id="ngModel" name="email">
        </td>
      </tr>
      <tr>
        <td>
          <label>First name</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.firstName" #firstName="ngModel" name="firstName">
        </td>
      </tr>
      <tr>
        <td>
          <label>Surname</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.surname" #surname="ngModel" name="surname">
        </td>
      </tr>
      <tr>
        <td>
          <label>Phone number</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.phoneNum" #surname="ngModel" name="phoneNum">
        </td>
      </tr>
      <tr>
        <td>
          <label>Address</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.country" #surname="ngModel" name="country">
        </td>
      </tr>
      <tr>
        <td>
          <label>Address</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.city" #surname="ngModel" name="city">
        </td>
      </tr>
      <tr>
        <td>
          <label>Address</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.street" #surname="ngModel" name="street">
        </td>
      </tr>
      <tr>
        <td>
          <label>Ảnh đại diện</label>
        </td>
        <td>
          <input type="file" accept="image/*" (change)="changeListener($event)">
        </td>
      </tr>
    </table>
    <button type="submit" class="primary">
      <div *ngIf="!signUpInProgress">
        <span>Sign up</span>
      </div>
      <div *ngIf="signUpInProgress" class="ibm-spinner-indeterminate small loop">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle class="circle-path" cx="50" cy="50" r="20" />
          </svg>
        </div>
      </div>
    </button>
  </form>
</section>

<section *ngIf="authenticated && loggedIn">
  <nav class="menu">
    <ul>
      <li><a routerLink="/home">Trang chủ</a></li>
      <li><a routerLink="/dao">Dạo</a></li>
      <li><a routerLink="/history">Lịch sử giao dịch</a></li>
      <li><a routerLink="/cart">Giỏ hàng</a></li>
      <li><a routerLink="/account">Tài khoản</a></li>
      <li><a routerLink="/sell">Đăng tin</a></li>
      <li><a routerLink="/balance">Nạp tiền</a></li>
    </ul>
    <form class="search-form">
      <input type="text" placeholder="Tìm kiếm sản phẩm">
      <button>Tìm kiếm</button>
    </form>

  </nav>
  <router-outlet></router-outlet>
</section>