<table>
  <tr *ngFor="let product of availableProducts | async">
    <td>{{product.productName}}</td>
    <td>{{product.productType}}</td>
    <td>{{product.pricePerUnit}}</td>
    <td>{{product.amount}}</td>
    <td>{{product.description}}</td>
    <td><img height="50px" width="50px" src="{{product.imageBase64Encode}}" alt=""></td>
    <td>
      <button type="button" class="primary" (click)="addToCart(product.productId)">
        <div *ngIf="!buyInProgress || buyInProgress && product.productName!==boughtProduct">
          <span>Thêm vào giỏ hàng</span>
        </div>
        <div *ngIf="buyInProgress && product.productName===boughtProduct" class="ibm-spinner-indeterminate small loop">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="circle-path" cx="50" cy="50" r="20" />
            </svg>
          </div>
        </div>
      </button>
    </td>
  </tr>
</table>