.sell-body
{
    padding-top: 60px;
    position: relative;
    width: 100%;
    height: 200vh;
    background: gray url('/assets/test/img/backgrounds/1.jpg'); 
}

.sell-body h2, p
{
  color: white;
}

.sell-body input{
  color: white;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: white !important;
  color: white !important
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: white;
}

::ng-deep .mat-form-field-infix {
  color: white;
}

.placeholder {
  color: white;
}

.mat-focused .placeholder {
  color: rgb(11, 210, 236);
}